<!-- section-heading.liquid - Apply for all section title -->
 <style>
   .heading-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  } 
  .shop-the-collection{
  font-family: "Gilda Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border: 2px solid var(--text-color, #000);
  display: flex;
  width: 183px;
  padding: 10px;
  justify-content: center;
  margin:0 0 50% 0;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  }
 </style>
{%- if settings.sectionheading == 'heading-1' -%}
  <div class="heading-top">
    <div>
    {%- if section.settings.title_top != blank -%}
      <div class="subtop text-{{ section.settings.align-heading }} text-top {% if section.settings.title != blank %} mb-2 {% else %} mb-4 {% endif %}" data-aos="{{ section.settings.animation }}" data-aos-duration="300">{{ section.settings.title_top }}</div>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
    <h3 class="section-title-1 text-{{ section.settings.align-heading }}  {% if section.settings.des != blank %} mb-2 {% else %} mb-5 {% endif %}" data-aos="{{ section.settings.animation }}" data-aos-duration="500">
      <span>{{ section.settings.title }}</span>
    </h3>
    {%- endif -%}
    {%- if section.settings.des != blank -%}
    <div class="font-family-2 mb-5 txt-body-70 text-{{ section.settings.align-heading }}" data-aos="{{ section.settings.animation }}" data-aos-duration="800">{{ section.settings.des }}</div>
    {%- endif -%}
    </div>
    <div>
       <a class="shop-the-collection" href="{{ product.collections.first.url}}">Shop the collection</a>
    </div>
  </div>
{%- elsif settings.sectionheading == 'heading-2' -%}
  {%- if section.settings.title_top != blank -%}
    <div class="subtop text-center text-top" data-aos="{{ section.settings.animation }}" data-aos-duration="300">{{ section.settings.title_top }}</div>
  {%- endif -%}
  {%- if section.settings.title != blank -%}
  <h3 class="section-title-2 {% if section.settings.des != blank %} mb-2 {% else %} mb-5 {% endif %}">
    <span>{{ section.settings.title }}</span>
  </h3>
  {%- endif -%}
  {%- if section.settings.des != blank -%}
  <p class="font-family-2 mb-5 txt-body-70">{{ section.settings.des }}</p>
  {%- endif -%}
{%- endif -%}